@keyframes jumpin{
    0%{
        opacity: 0;
        transform:translate(0, 0);
     }
    50%{
        opacity: 1;
        transform:translate(0, -0.6rem);
     }
     100%{
        opacity: 1;
        transform:translate(0, 0);
     }
}
@keyframes jump{
  0%{
      opacity: 0;
      transform:translate(0, 0);
   }
  50%{
      opacity: 1;
      transform:translate(0, -0.6rem);
   }
   100%{
      opacity: 1;
      transform:translate(0, 0);
   }
}
@keyframes navitemin{
   from{
      transform: translate(0,-100vh);
   }
   to{
      transform: translate(0, 0);
   }
}

@keyframes slideRight {
	from {
		opacity: 0;
		transform: translateX(-30rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}