section.header-developers {
   background: $gradientDevelopersRgba, url("../images/backgrounds/background15.jpg");
   background-size: contain, cover;
   background-position: bottom;
   height: 36rem;
   display: flex;
   align-items: center;
}
article.developers-intro {
   width: 100%;
   height: 20rem;
   padding: 2rem 4rem;
   @include mq('tablet-middle') {
      background: linear-gradient(to right,  rgba(48,67,82, 0.2), rgba(48,67,82, 0.2));
      width: 70%;
      animation: slideRight 0.5s 1 cubic-bezier(.49,.01,0,.91) both;
      animation-delay: 0.40s;
   }
   @include mq('tablet-wide') {
      width: 50%;
    }
   h2 {
      font-family: 'Maven_Pro', 'Ubuntu';
      font-size: 2.4em;
      letter-spacing: 2px;
      color: #FFF;
      @include mq('phablet') {
         font-size: 3em;
      } 
   }
   p {
      font-size: 1.4em;
      color: #FFF;
   }
}
section.dev-info {
  background: #F83600;
  color: #FFF;
  text-align: center;
  padding: 3rem;
  @include mq('tablet-small') {
    padding: 3rem 8rem;
 }
}
section.developer-advantages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgb(230, 230, 230);

  article{
   width: 17rem;
   height: 15rem;
   text-align: center;
   padding: 2rem;
  }
  
  h4{
   padding-top: 1em;
   &:before {
    display: block;
  font-size: 3rem;
  border-radius: 50%;
  background: $gradientDevelopers;
  color: #fff;
  padding: 1rem;
  width: 5.5rem;
  margin: 0 auto 2rem;
   }
  }
}
section.build-developers {
  background-image: url(../images/backgrounds/background16.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 article {
   width: 45rem;
   max-height: 100vh;
   text-align: center;
   color: #FFF;
   padding: 3rem;
   background: linear-gradient(to right,  rgba(73, 73, 73, 0.7), rgba(73, 73, 73, 0.7));
}
}