body {
  &.home {
      footer {
          background: $gradientHome;
      }
  }
  &.platform {
      footer {
          background: $gradientPlatform;
      }
  }
  &.about {
      footer {
          background: $gradientAbout;
      }
  }
  &.developers {
      footer {
          background: $gradientDevelopers;
      }
  }
  &.careers {
      footer {
          background: $gradientCareers;
      }
  }
  &.post {
      footer {
          background: $gradientNews;
      }
  }
}
footer {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  flex-direction: column;
  div {
      padding-bottom: 2rem;
  }
  @include mq ('tablet-small') {
      flex-direction: row;
  }
  a.page {
      display: block;
      color: #FFF;
      text-decoration: none;
  }
  a.main {
      display: block;
      color: #FFF;
      text-decoration: none;
      font-weight: bold;
      border-bottom: 2px solid rgb(165,165,165);
      margin-bottom: 0.3rem;
      padding-bottom: 0.3rem;
  }
  i {
      font-size: 1.4rem;
      margin-left: 1rem;
      color: white;
  }
  .icons {
      display: flex;
      flex-wrap: wrap;
      flex: 0 1 0;
  }
}