
  section.header-platform {
      background: $gradientPlatformRgba, url("../images/backgrounds/background8.jpg");
      background-size: cover;
      height: 32rem;
      display: flex;
      align-items: center;
  }
  article.platform-intro {
      width: 100%;
      height: 20rem;
      padding: 2rem 4rem;
      @include mq('tablet-middle') {
         background: linear-gradient(to right,  rgba(48,67,82, 0.2), rgba(48,67,82, 0.2));
         width: 70%;
         animation: slideRight 0.5s 1 cubic-bezier(.49,.01,0,.91) both;
         animation-delay: 0.40s;
      }
      @include mq('tablet-wide') {
         width: 50%;
       }
      h2 {
         font-family: 'Maven_Pro', 'Ubuntu';
         font-size: 2.4em;
         letter-spacing: 2px;
         color: #FFF;
         @include mq('phablet') {
            font-size: 3em;
         }

         
      }
      p {
         font-size: 1.4em;
         color: #FFF;
      }
  }
   
  
  section.platform-info {
      display: flex;
      flex-direction: column;
      @include mq('tablet-wide') {
        flex-direction: row;
     }
      
      article {
         width: 100%;
         order: 2;
         padding: 4rem;
         @include mq('tablet-wide') {
            width: 50%;
         }
      }
      div {
         height: 32rem;
         width:100%;
         background-image: url(../images/img/img2.jpg);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         @include mq('tablet-wide') {
            width: 50%;
         }
      }
    }
  section.fast {
        display: flex;
        flex-direction: column;
        @include mq('tablet-wide') {
          flex-direction: row;
       }
        
        article {
           width: 100%;
           order: 2;
           padding: 4rem;
           @include mq('tablet-wide') {
              width: 50%;
              order: 1;
           }
        }
        div {
          order: 1;
           height: 32rem;
           width:100%;
           background-image: url(../images/img/background9.jpg);
           background-size: cover;
           background-repeat: no-repeat;
           background-position: center;
           @include mq('tablet-wide') {
              width: 50%;
              order: 2;
           }
        }
        
    }
    section.secure {
          display: flex;
          flex-direction: column;
          @include mq('tablet-wide') {
            flex-direction: row;
         }
          
          article {
             width: 100%;
             order: 2;
             padding: 4rem;
             @include mq('tablet-wide') {
                width: 50%;
             }
          }
          div {
             height: 32rem;
             width:100%;
             background-image: url(../images/backgrounds/background10.jpg);
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center;
             @include mq('tablet-wide') {
                width: 50%;
             }
        }
      }
        section.how-works {
          display: flex;
          flex-direction: column;
          @include mq('tablet-wide') {
            flex-direction: row;
         }
          
          article {
             width: 100%;
             order: 2;
             padding: 4rem;
             @include mq('tablet-wide') {
                width: 50%;
                order: 1;
             }
          }
          div {
            order: 1;
             height: 32rem;
             width:100%;
             background-image: url(../images/backgrounds/background11.jpg);
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center;
             @include mq('tablet-wide') {
                width: 50%;
                order: 2;
             }
          }
        }
        section.cryptocurrency {
          display: flex;
          flex-direction: column;
          @include mq('tablet-wide') {
            flex-direction: row;
         }
          
          article {
             width: 100%;
             order: 2;
             padding: 4rem;
             @include mq('tablet-wide') {
                width: 50%;
             }
          }
          div {
             height: 32rem;
             width:100%;
             background-image: url(../images/backgrounds/background12.jpg);
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center;
             @include mq('tablet-wide') {
                width: 50%;
             }
        }
      }
          
      
        
      