<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{site.title}}</title>
   <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css">
</head>
<body class=" {% if page.title %} {{ page.title | slugify }} {% else %}home{% endif %}">
  <div class="site">

    <input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
    <header class="site-header">
      <div class="top-menu">
      <div class="site-branding">
        <a class='logo-header' href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/logo/fix fix.png" alt="logo">
        <!-- <span>{{site.title}}</span> -->
      </a>
      </div>
      <div class="nav-top">
        <ul>
          <li><a  href="{{ site.baseurl }}/platform/">Platform</a></li>
          <li><a  href="{{ site.baseurl }}/about/">About us</a></li>
          <li><a  href="{{ site.baseurl }}/developers/">Developers</a></li>
          <li><a  href="{{ site.baseurl }}/careers/">Careers</a></li>
        </ul>
      </div>
    </div>
      <label for="nav-main-toggle" id="nav-toggle-right" class="fas nav-toggle right">
        <span>Menu</span>
      </label>
      <nav class="navigation main">
        <a href="{{ site.baseurl }}/" class="logo-navigation">
            <img src="{{ site.baseurl }}/images/logo/fix fix.png" alt="logo">
        </a>
        <ul>
          <li>
            <a class="slide-nav" href="{{ site.baseurl }}/platform/">Platform</a>
          </li>
          <li>
            <a class="slide-nav" href="{{ site.baseurl }}/about/">About us</a>
          </li>
          <li>
            <a class="slide-nav" href="{{ site.baseurl }}/developers/">Developers</a>
          </li>
          <li>
            <a class="slide-nav" href="{{ site.baseurl }}/careers/">Careers</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="site-content">
      {{content}}
    </main>
    <footer class="sitefooter">
      <div>
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo/logo-small.png" alt="loge"></a>
      </div>
      <div>
        <a class="main" href="{{ site.baseurl }}/#news">News</a>
      </div>
      <div>
        <a class="main" href="{{ site.baseurl }}/platform/">Platform</a>
        <a class="page" href="{{ site.baseurl }}/platform/#speed">Speed</a>
        <a class="page" href="{{ site.baseurl }}/platform/#secure">Security</a>
        <a class="page" href="{{ site.baseurl }}/platform/#how-works">How it works</a>
        <a class="page" href="{{ site.baseurl }}/platform/#currency">Currency</a>
      </div>
      <div>
        <a class="main" href="{{ site.baseurl }}/about/">About us</a>
        <a class="page" href="{{ site.baseurl }}/about/#vision">Vision</a>
        <a class="page" href="{{ site.baseurl }}/about/#mission">Mission</a>
        <a class="page" href="{{ site.baseurl }}/about/#values">Values</a>
        <a class="page" href="{{ site.baseurl }}/about/#team">Team</a>
      </div>

      <div>
        <a class="main" href="{{ site.baseurl }}/developers/">Developers</a>
        <a class="page" href="{{ site.baseurl }}/developers/#advantages">Advanages</a>
        <a class="page" href="{{ site.baseurl }}/developers/#portal">Portal</a>
      </div>
      <div>
        <a class="main" href="{{ site.baseurl }}/careers/">Careers</a>
        <a class="page" href="{{ site.baseurl }}/careers/#culture">Culture</a>
        <a class="page" href="{{ site.baseurl }}/careers/#values-careers">Values</a>
        <a class="page" href="{{ site.baseurl }}/careers/#we-offer">What we offer</a>
        <a class="page" href="{{ site.baseurl }}/careers/#locations">Locations</a>
      </div>
      <div class="icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-reddit-alien"></i></a>
          <a href="#"><i class="fab fa-telegram-plane"></i></a>
      </div>
    </footer>
  </div>

</body>
</html>